<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ioService" class="ru.otus.spring.service.StreamsIOService"/>
    
    <bean id="testFileNameProvider" class="ru.otus.spring.config.AppConfig">
        <constructor-arg index="0" value="test.csv"/>
    </bean>

    <bean id="questionDao" class="ru.otus.spring.dao.CsvQuestionDao">
        <constructor-arg index="0" ref="testFileNameProvider"/>
    </bean>
    
    <bean id="testService" class="ru.otus.spring.service.TestServiceImpl">
        <constructor-arg index="0" ref="ioService"/>
        <constructor-arg index="1" ref="questionDao"/>
    </bean>
    
    <bean id="testRunnerService" class="ru.otus.spring.service.TestRunnerServiceImpl">
        <constructor-arg index="0" ref="testService"/>
    </bean>
</beans>
